<div class="dashboard-container">
  <aside class="sidebar">
    <div class="user-info">
      <p *ngIf="(currentUser$ | async) as user">
        Hola, {{ user.nombre }} ({{ user.rol }})
      </p>
    </div>
    <nav>
      <ul>
        <li><a routerLink="/dashboard/archivos" routerLinkActive="active">Gestión de Archivos</a></li>
        <li *ngIf="isAdmin || isJournalist">
          <a routerLink="/dashboard/subir-archivo" routerLinkActive="active">Subir Archivo</a></li>
        <li><a routerLink="/dashboard/usuarios" routerLinkActive="active"
               *ngIf="isAdmin">Gestión de Usuarios</a></li>
        </ul>
    </nav>
    <button class="logout-btn" (click)="logout()">Cerrar Sesión</button>
  </aside>

  <main class="content">
    <router-outlet></router-outlet>
  </main>
</div>