<div class="dashboard-container">
  <!-- Sidebar -->
  <aside class="sidebar" [class.collapsed]="isCollapsed">
    <div class="sidebar-header">
      <span class="brand">🎥 MediaSys</span>
      <button class="menu-toggle" (click)="toggleSidebar()">☰</button>
    </div>

    <div class="user-info" *ngIf="(currentUser$ | async) as user">
      <p>Hola, {{ user.nombre }} <br> <small>({{ user.rol }})</small></p>
    </div>

    <nav class="nav-links">
      <a routerLink="/dashboard/archivos" routerLinkActive="active"><i class="fas fa-folder-open"></i> Gestión de Archivos</a>
      <a routerLink="/dashboard/subir-archivo" routerLinkActive="active" *ngIf="isAdmin || isJournalist">
        <i class="fas fa-upload"></i> Subir Archivo
      </a>
      <a routerLink="/dashboard/usuarios" routerLinkActive="active" *ngIf="isAdmin">
        <i class="fas fa-users-cog"></i> Gestión de Usuarios
      </a>
    </nav>

    <button class="logout-btn" (click)="logout()">Cerrar Sesión</button>
  </aside>
  <button
  class="floating-toggle-btn"
  *ngIf="showToggleButton"
  (click)="toggleSidebar()"
>
  <i class="fas fa-bars"></i>
</button>



  <!-- Contenido principal -->
  <main class="content">
    <router-outlet></router-outlet>
  </main>
</div>
